@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-1: #0f1016;
  --text-color: #f0f0f0;
  --accent-color: #006aff;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 12pt;
  font-family: Poppins, Segoe UI, Tahoma, sans-serif;
}
nav {
  height: 60px;
  background-color: var(--color-1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute; /* Buat navbar tetap di atas */
  top: 0;
  width: 100%; /* Navbar memenuhi seluruh lebar layar */
}
.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}
nav a:hover {
  background-color: var(--accent-color);
}
nav .home-link {
  margin-right: auto;
}
nav svg {
  fill: var(--text-color);
}
#sidebar-active {
  display: none;
}
.open-sidebar-button,
.close-sidebar-button {
  display: none;
}
@media (max-width: 450px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color: var(--color-1);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }
  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container {
    right: 0;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../img/bg2.jfif"); /* Background color */
  margin: 0;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  width: 50%; /* Agar container memenuhi lebar layar pada ponsel */
  max-width: 250px; /* Batas maksimal untuk ukuran di perangkat besar */
  min-height: 400px; /* Tambahkan tinggi minimum untuk stabilitas */
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-align: center;
}

#qr-code {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px; /* Tambahkan tinggi minimum agar posisi QR code tetap stabil */
}

#qr-code canvas {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
  align-self: center;
}

button:hover {
  background-color: #218838;
}

@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  input {
    font-size: 16px;
    padding: 8px;
  }

  button {
    font-size: 16px;
    padding: 10px 15px;
  }

  #qr-code canvas {
    width: 200px;
    height: 200px;
  }
}
